*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(36, 34, 34);
    display: grid;
    place-items: center;
}
span{
    position: absolute;
    transform-origin: 0 80px;
    color: white;
}
#text{
    animation: animate 5s linear infinite;
    height: 160px;
    font-size: 20px;
}
@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}